<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="orange">

	<parameter name="username" value="admin" />
	<parameter name="password" value="admin123" />

	<test thread-count="5" name="orangehrm">
		<classes>
			<class name="com.app.OrangeHrm" />
			<!-- <class name="com.app.MavenDemo" /> -->
		</classes>
	</test> <!-- orangehrm -->

	<!-- <test>
		<classes>
			<class name="com.app.InvocationCountTest" />
		</classes>
	</test> -->
</suite> <!-- orange -->
